<div class="content-box-wrapper">
    <h3 class="block-title">Customer Lookup</h3>

    <div class="block-content">
        <!-- customer lookup form -->
        <form class="form-box" (ngSubmit)="form.valid && submit()" novalidate #form="ngForm" (keydown)="apiError=null">
            <!-- phone & email & vin inputs -->
            <div class="form-input" [ngClass]="{'form-input-submitted': form.submitted}">
                <app-float-input name="phone" type="number" [(ngModel)]="state.phone" ngDefaultControl
                                 placeholder="{{getPhonePlaceholder()}}"
                                 [required]="true" pattern="^\d{10,11}$" #phone="ngModel">
                </app-float-input>
                <div *ngIf="form.submitted" class="validate-text">
                    <div *ngIf="$phone.invalid" class="invalid">
                        <span *ngIf="getInputError($phone) === 'required'">This field is required!</span>
                        <span *ngIf="getInputError($phone) === 'pattern-invalid'">Not a valid phone number!</span>
                        <span *ngIf="getInputError($phone) === 'invalid'">This field is invalid.</span>
                        <i class="validate-icon fas fa-exclamation-triangle"></i>
                    </div>
                    <div *ngIf="!$phone.invalid" class="valid">
                        <i class="validate-icon fas fa-check-circle"></i>
                    </div>
                </div>
            </div>

            <div class="form-input" [ngClass]="{'form-input-submitted': form.submitted}">
                <app-float-input name="email" type="email" [(ngModel)]="state.email" placeholder="Email Address"
                                 ngDefaultControl [required]="true"
                                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"
                                 #email="ngModel">
                </app-float-input>
                <div *ngIf="form.submitted" class="validate-text">
                    <div *ngIf="$email.invalid" class="invalid">
                        <span *ngIf="getInputError($email) === 'required'">This field is required!</span>
                        <span *ngIf="getInputError($email) === 'pattern-invalid'">Not a valid email address!</span>
                        <span *ngIf="getInputError($email) === 'invalid'">This field is invalid.</span>
                        <i class="validate-icon fas fa-exclamation-triangle"></i>
                    </div>
                    <div *ngIf="!$email.invalid" class="valid">
                        <i class="validate-icon fas fa-check-circle"></i>
                    </div>
                </div>
            </div>

            <div class="form-input" [ngClass]="{'form-input-submitted': form.submitted}">
                <app-float-input name="VIN" type="text" [(ngModel)]="state.VIN" placeholder="VIN"
                                 ngDefaultControl [required]="true" pattern="^[a-zA-Z0-9]{17}$"
                                 #vin="ngModel"></app-float-input>
                <div *ngIf="form.submitted" class="validate-text">
                    <div *ngIf="$vin.invalid" class="invalid">
                        <span *ngIf="getInputError($vin) === 'required'">This field is required!</span>
                        <span *ngIf="getInputError($vin) === 'pattern-invalid'">Invalid VIN!</span>
                        <span *ngIf="getInputError($vin) === 'invalid'">This field is invalid.</span>
                        <i class="validate-icon fas fa-exclamation-triangle"></i>
                    </div>
                    <div *ngIf="!$vin.invalid" class="valid">
                        <i class="validate-icon fas fa-check-circle"></i>
                    </div>
                </div>
            </div>

            <!-- server errors -->
            <div class="form-errors-wrap" *ngIf="apiError">
                <ng-template #apiErr>There was an api error, please try again later!</ng-template>
                <div *ngIf="apiError.status === 404;else apiErr">Customer not found!</div>
            </div>

            <div class="btns-wrap">
                <button class="btn" type="submit">Next</button>
            </div>
        </form>
    </div>
</div>
