<div class="content-box-wrapper">
    <h3 class="section-title">Customer Info</h3>

    <form (ngSubmit)="submit()" novalidate #form="ngForm">
        <app-customer [customer]="customer"></app-customer>

        <div class="car-info">
            <div class="image">
                <img src="/assets/sample-car.jpg" />
            </div>
            <div class="data">
                <div class="make">Car Make</div>
                <div class="model">Car Model</div>
            </div>
        </div>
        <div class="btns-wrap">
            <button mat-raised-button color="primary" type="submit" #requestBtn>Request PIN</button>
        </div>
    </form>
</div>
