<div class="content-box-wrapper">
    <h3 class="block-title">Customer Info</h3>

    <div class="block-content">
        <form (ngSubmit)="submit()" novalidate #form="ngForm">
            <app-customer [customer]="customer"></app-customer>

            <div class="car-info">
                <div class="image">
                    <!-- A car placeholder -->
                    <img src="/assets/sample-car.jpg"/>
                </div>
                <div class="data">
                    <!-- Dummy car data -->
                    <div class="make">Car Make</div>
                    <div class="model">Car Model</div>
                </div>
            </div>
            <div class="btns-wrap">
                <button class="btn" type="submit" #requestBtn>Request PIN</button>
            </div>
        </form>
    </div>
</div>
