// variables for the application
@import 'variables';

// use Open Sans as the global font for the application
@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('/assets/fonts/open-sans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('/assets/fonts/open-sans/OpenSans-Semibold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/open-sans/OpenSans-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}

// global styling
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  color: $text-color;
  font-family: "Open Sans", sans-serif;

  &:after {
    content: '';
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

a, a:link, a:visited {
  text-decoration: none;
}

// block title styling
.block-title {
  font-size: 32px;
  font-weight: 300;
  margin: 90px 0 0;
}

.block-content {
  min-height: 280px;
  min-width: 410px;
  display: flex;
  align-items: center;
  margin: 10px 0;

  form {
    width: 100%;
  }
}

// Section with a form, small width, big margin top
.form-section {
  margin: auto;
  height: 100%;

  &-content {
    height: 100%;
    overflow: hidden;
  }
}

// buttons style
.btn {
  display: inline-block;
  padding: 0 30px;
  height: 52px;
  line-height: 51px;
  font-family: inherit;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: opacity .2s ease;
  min-width: 126px;

  &:hover {
    opacity: .85;
  }
}

.btns-wrap {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form-errors-wrap {
  margin: 20px 0;
  font-size: 14px;
  color: $error-text-color;
}

.error {
  color: $error-text-color;
}

input {
  font-family: "Open Sans", sans-serif;
}

// Remove the spinners from number inputs
/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// remove x from ie inputs
input::-ms-clear {
  display: none;
}

// remove the "reveal" icon from ie inputs
input::-ms-reveal {
  display: none;
}

// define styles relating to carriers
.t-mobile {
  background-color: $t-mobile-color;

  &-border-left {
    border-left-color: $t-mobile-color;
  }
}

.sprint {
  background-color: $sprint-color;

  &-border-left {
    border-left-color: $sprint-color;
  }
}

.at-t {
  background-color: $at-t-color;

  &-border-left {
    border-left-color: $at-t-color;
  }
}

.verizon {
  background-color: $verizon-color;

  &-border-left {
    border-left-color: $verizon-color;
  }
}
