// build three themes
@import "themes/volkswagen-theme";
@import "themes/infiniti-theme";
@import "themes/gm-theme";

$themes: (
        volkswagen-theme: $volkswagen-theme,
        infiniti-theme: $infiniti-theme,
        gm-theme: $gm-theme
);

// to apply theme, add to the body tag theme name, ex : <body class="volkswagen-theme">,
// <body class="infiniti-theme"> or <body class="gm-theme">
@each $theme, $map in $themes {
  .#{$theme} {
    background-color: map-get($map, primary-color);

    a, a:link, a:visited {
      color: map-get($map, primary-color);
    }

    .btn {
      background-color: map-get($map, primary-color);
    }

    input {
      color: map-get($map, primary-color);
    }
  }
}

