//colors
$input-label-color: #999999;
$input-border-color: #d2d2d2;
$input-error-border-color: #df3225;
$input-error-text-color: #df3225;
$input-valid-text-color: #25aa3d;
$error-text-color: #df3225;
$text-color: #333333;
$loader-bg-color: #6c717c;
$navigation-icon-color: #bababa;

$t-mobile-color: #e20074;
$sprint-color: #ffba00;
$at-t-color: #00a1df;
$verizon-color: #ff7832;
