$mat-volkswagen: (
        100: #76adf4,
        500: #3f7ec1,
        700: #005290,

        contrast: (
                100: $dark-primary-text,
                500: $light-primary-text,
                700: $light-primary-text,
        )
);

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$volkswagen-theme-primary: mat-palette($mat-volkswagen);
$volkswagen-theme-accent: mat-palette($mat-light-blue);
$volkswagen-theme-warn: mat-palette($mat-deep-orange);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$volkswagen-theme: mat-light-theme($volkswagen-theme-primary, $volkswagen-theme-accent, $volkswagen-theme-warn);