@import 'variables';

.lookup-page-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation-wrapper {
  width: 120px;
}

.navigation {
  list-style-type: none;
  padding-left: 0;

  li {
    color: $navigation-icon-color;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    cursor: pointer;

    &.active {
      color: #3b77b6;
    }

    &.cancel {
      border-top: 1px solid #bababa;
      line-height: 18px;
      padding-top: 10px;

      div {
        font-size: 10px;
        margin-top: 5px;
      }

      &:hover {
        color: #3b77b6;
      }
    }

    &.carrier {
      border-radius: 50%;
      color: #FFF;
    }

    &.t-mobile {
      background: #e20074;
    }

    &.sprint {
      background: #ffba00;
    }

    &.at-t {
      background: #00a1df;
    }

    &.verizon {
      background: #ff7832;
    }
  }
}

// confirm step, style the confirmation paragraph
.confirm-text {
  font-size: 24px;
  color: $text-color;
  font-weight: 500;
  margin: -34px 0 6px;
}

.confirm-section {
  margin: 0 -90px;
}

.form-section-content {
  &-t-mobile {
    ::ng-deep {
      .customer-info {
        border-left-color: $t-mobile-color;
      }

      .progress-bar-remaining {
        background-color: $t-mobile-color;
      }

      .confirm-text {
        color: $t-mobile-color;
      }
    }
  }

  &-sprint {
    ::ng-deep {
      .customer-info {
        border-left-color: $sprint-color;
      }

      .progress-bar-remaining {
        background-color: $sprint-color;
      }

      .confirm-text {
        color: $sprint-color;
      }
    }
  }

  &-at-t {
    ::ng-deep {
      .customer-info {
        border-left-color: $at-t-color;
      }

      .progress-bar-remaining {
        background-color: $at-t-color;
      }

      .confirm-text {
        color: $at-t-color;
      }
    }
  }

  &-verizon {
    ::ng-deep {
      .customer-info {
        border-left-color: $verizon-color;
      }

      .progress-bar-remaining {
        background-color: $verizon-color;
      }

      .confirm-text {
        color: $verizon-color;
      }
    }
  }
}