.customer-info {
  border-left: 6px solid #e20074;
  padding-left: 28px;

  .name {
    font-size: 36px;
    font-weight: 700;
  }

  .email, .phone {
    font-size: 18px;
  }

  > * {
    margin: 10px 0;
  }
}

.car-info {
  overflow: hidden;
  margin: 30px 0;

  .image {
    float: left;
    max-width: 260px;
  }

  .make {
    font-size: 16px;
  }

  .model {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
}