<section class="select-carrier-section">
    <div class="select-carrier-wrapper">
        <h3 class="block-title">Select Carrier</h3>
        <div class="block-content">
            <ul class="carriers">
                <li class="t-mobile" (click)="select('T-MOBILE')">
                    T
                </li>
                <li class="sprint" (click)="select('SPRINT')">
                    S
                </li>
                <li class="at-t" (click)="select('AT-T')">
                    <i class="fas fa-globe"></i>
                </li>
                <li class="verizon" (click)="select('VERIZON')">
                    <i class="far fa-check-circle"></i>
                </li>
            </ul>
        </div>
    </div>
</section>
