<section class="form-section select-carrier-section">
    <div class="select-carrier-wrapper">
        <h3 class="section-title">Select Carrier</h3>
        <ul class="carriers">
            <li class="t-mobile" (click)="select('T-MOBILE')">
                T
            </li>
            <li class="sprint" (click)="select('SPRINT')">
                S
            </li>
            <li class="at-t" (click)="select('AT-T')">
                <i class="fas fa-globe"></i>
            </li>
            <li class="verizon" (click)="select('VERIZON')">
                <i class="fas fa-check-circle"></i>
            </li>
        </ul>
    </div>
</section>
